body {
  text-align: center;
  background-color: #9c835f;
}
body img {
  width: 200px;
  height: 200px;
}
.kotak {
  margin: 50px auto;
  padding-right: 40px;
  padding-top: 40px;
  width: 400px;
  height: 200px;
  background-color: salmon;
  border-radius: 50px;
}

.info {
  font-weight: bold;
  color: white;
  font-size: 24px;
  line-height: 50px;
  border-radius: 50px;
  margin: auto;
  margin-top: -40px;
  margin-bottom: -40px;
  width: 150px;
  height: 50px;
  background-color: #4c9654;
}
.skorComp {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: auto;
  position: absolute;
  margin-left: 390px;
  margin-top: -20px;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
}
.skorPlayer {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: auto;
  position: absolute;
  margin-left: 390px;
  margin-top: -20px;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
}
li {
  display: inline-block;
}
img {
  cursor: pointer;
}
